html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1;
}

.app {
  display: block;
  margin: auto;
  width: 600px;
  background-color:#36584c;;
}

header {
  color: white;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.quotes {
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.new-quote {
  margin-bottom: 15px;
}

.new-quote:hover {
}

.new-quote:disabled {
  cursor: not-allowed;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;

}

p {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}
