button
{
  transition: all 1000ms ease-in-out;
  font-size: 40px;
}

button.was-clicked
{
  padding: 20px;
  color: rebeccapurple;
}

#button-2
{
  transition: all 250ms ease-in-out;
}

button.was-clicked-2
{
  padding: 80px;
  color: orange;
}

canvas
{
  align: center;
}



@media screen and (min-width:801px)
{
  .title-grid-container
  {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    column-gap: 1%;
    row-gap: 0px;
    padding-left: 5%;
    margin-right: 5%;
  }
  .grid-container
  {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    display: grid;
    column-gap: 1%;
    row-gap: 0px;
    padding-left: 2%;
    margin-right: 2%;
  }
  .item1
  {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  }
  .item2
  {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  }
  .item3
  {
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  }
  .item4
  {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 3;
  }
  .item5
  {
  max-height: 100%;
  grid-column-start: 3;
  grid-column-end: 5;
  padding-left: 4%;
  }
  .item6
  {
  align-items: center;
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  }
  .item7
  {
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  }
  .item8
  {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  }
  .preview
  {
    max-height: 300px;
    padding: 10px;
  }
  .headshot
  {
    max-height: 80%;
  }
  img
  {
    display: block;
    max-width: 100%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color:#202020;
  }
  h1 {
    text-align: center;
    color:#ffffff;
    font-weight: bold;
    font-size: 325%;
    text-align: center;
    font-family: "Futura", sans-serif;
  }
  h2 {
    text-align: center;
    color:#c0c0c0;
    font-weight: bold;
    font-size: 225%;
    font-family:	"Futura", sans-serif;
  }
  p {
    color:#ffffff;
    font-size: 120%;
    font-family: 	"Futura", sans-serif;
  }
  a {
    color:#00bc78;
    font-size: 120%;
    font-family: "Futura", sans-serif;
    text-decoration: none;
  }
  li {
    display: block;
    margin: 5px;
    padding: 5px;
    /*border-style: solid;
    border-color: #00bc78;*/
    font-size: 100%;
  }
  ol {
    margin: 1em;
    margin-top: 0em;
    padding: 1em;
    padding-top: 0em;
  }
  hr {
    display:block;
    color:#00bc78;
    background-color:#00bc78;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #00bc78;
  }
}
@media screen and (max-width:800px)
{
    .title-grid-container
    {
      display: grid;
      column-gap: 1%;
      row-gap: 0px;
      padding-left: 5%;
      margin-right: 5%;
    }
    .grid-container
    {
      justify-items: center;
      display: grid;
      column-gap: 50px;
      row-gap: 50px;
      padding-left: 10px;
      margin-right: 10px;
    }
    .item1
    {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    }
    .item2
    {
    grid-column-start: 2;
    grid-column-end: 3;
    }
    .item3
    {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    }
    .item4
    {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    }
    .item5
    {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    }
    .item6
    {
    grid-row-start: 1;
    grid-row-end: 2;
    }
    .item7
    {
    grid-row-start: 2;
    grid-row-end: 3;
    }
    .item8
    {
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    }
    .preview
    {
      max-width: 100%;
    }
    .headshot
    {
      max-height: 80%;
    }
    img
    {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  body {
    background-color:#202020;
  }
  h1 {
    text-align: center;
    color:#ffffff;
    font-weight: bold;
    font-size: 325%;
    text-align: center;
    font-family: "Futura", sans-serif;
  }
  h2 {
    text-align: center;
    color:#c0c0c0;
    font-weight: bold;
    font-size: 225%;
    font-family:	"Futura", sans-serif;
  }
  p {
    color:#ffffff;
    font-size: 120%;
    font-family: 	"Futura", sans-serif;
  }
  a {
    color:#00bc78;
    font-size: 120%;
    font-family: "Futura", sans-serif;
    text-decoration: none;
  }
  li {
    display: block;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #00bc78;
    font-size: 100%;
  }
  ol {
    margin: 1em;
    padding: 1em;
  }
  hr {
    display:block;
    color:#00bc78;
    background-color:#00bc78;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #00bc78;
  }
}
